<ol reversed>
{% for poster in site.data.conference-posters %}
{% assign p = poster[1] %}
<li> <a href={{ p.url }}>{{ p.title }}</a>, {% if p.from-year == p.to-year %}
{% if p.from-month == p.to-month %} {{ p.from-month }} {{ p.from-date }} - {{ p.to-date }},
{% else %} {{ p.from-month }} {{ p.from-date }} - {{ p.to-month }} {{ p.to-date }},
{% endif %} {{ p.to-year }}, {% else %} {{ p.from-month }} {{p.from-date}}, {{ p.from-year }} - {{ p.from-month }} {{p.to-date}}, {{ p.to-year }},
{% endif %} <a href={{- p.conference-url -}}>{{ p.conference }}</a>, {{ p.city }}, {{ p.country }} </li>
{% endfor %}
</ol>
