<section class="hero">
  <div class="hero-content">
    <div class="columns">
      <div class="column-left">
	<div class="hero-image">
	  <img src="/assets/home.jpg" alt="Md Arif Shaikh">
	</div>
      </div>
      <div class="column-right">
	<div class="hero-text">
	  <h1>{{site.title}}</h1>
	  <h2>Gravitational Wave Astrophysicist</h2>
	  <p class="affiliation">
            {{site.data.authinfo.position}}, 
            <a href="{{site.data.authinfo.institute-website}}" target="_blank">
	      {{site.data.authinfo.institute}}
            </a>
	  </p>
	  <p class="intro">
            I study gravitational waves from compact binaries, test
            Einstein's General Thoery of Relativity using
            gravitational wave observations, and explore astrophysics
            of compact objects like black holes and neutron stars.
	  </p>
	  <div class="hero-cta">
            <a href="/research/" class="btn btn-outline">View Research</a>
	    <a href="/publications/" class="btn btn-outline">View Publications</a>
            <a href="https://raw.githubusercontent.com/md-arif-shaikh/md-arif-shaikh.github.io/pdflatex/_data/arif/cv_arif.pdf" class="btn btn-outline">Download CV</a>
	  </div>
	  {% include landing_page_media.html %}
	</div>
      </div>
    </div>
</section>
