<ol reversed>
{% for publication in site.data.lvk_html %}
  {% assign paper = publication[1] %}
  <li>
    <b>{{ paper.title }}</b><br>
    {{ paper.author }}<br>
	<a href="https://doi.org/{{ paper.doi }}">{{ paper.journal }}</a>, <b>{{ paper.volume}}</b>, {{ paper.pages | replace: "--", "-" }}, ({{ paper.year }}), <a href="https://arxiv.org/abs/{{ paper.eprint }}">arXiv:{{ paper.eprint }}</a>
	<a href="https://arxiv.org/pdf/{{ paper.eprint }}.pdf"><img class="svg-icon" src="/assets/pdf.svg"></a>
  </li>
{% endfor %}
</ol>
