<ul>
{% for visit in site.data.visits %}
{% assign v = visit[1] %}
<li>
  <b>
    {% if v.from-year == v.to-year %}
    {{- v.from-year -}},
    {% else %}
    {{- v.from-year }} - {{ v.to-year -}},
    {% endif %}
  </b> {{- v.host }}, <a href="{{ v.department-url }}">{{ v.department }}</a>, <a href="{{- v.institute-url -}}">{{ v.institute }}</a>, {{ v.city }}, {{ v.country -}},
  {% if v.from-year == v.to-year %}
  {% if v.from-month == v.to-month %}
  {{- v.from-month }} {{ v.from-date }} - {{ v.to-date -}},
  {% else %}
  {{- v.from-month }} {{ v.from-date }} - {{ v.to-month }} {{ v.to-date -}},
  {% endif %}
  {{- v.to-year }} {% else %} {{ v.from-month }} {{v.from-date}}, {{ v.from-year }} - {{ v.from-month }} {{v.to-date}}, {{ v.to-year -}}
  {% endif %}
</li>
{% endfor %}
</ul>
