@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
//@import url('https://fonts.maateen.me/kalpurush/font.css');
//@import url('https://fonts.maateen.me/adorsho-lipi/font.css');
//@import url('https://fonts.maateen.me/bangla/font.css');
//@import url('https://fonts.maateen.me/charukola-ultra-light/font.css');
//@import url('https://fonts.maateen.me/ekushey-lohit/font.css');
//@import url('https://fonts.maateen.me/solaiman-lipi/font.css');
// font names are "SolaimanLipi", 'EkusheyLohit', 'CharukolaUltraLight', 'Bangla', 'AdorshoLipi', 'Kalpurush'
// Define defaults for each variable.
$base-font-family: Roboto, "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   15px !default;
$base-font-weight: 350 !default;
$header-font-size: $base-font-size * (3/2) !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.25 !default;

$spacing-unit:     30px !default;

$text-color:       #56B6C2 !default;
$background-color: #282C34 !default;
$brand-color:      #61AFEF !default;

$grey-color:       #E5C07B !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 0%) !default;

$code-color: $grey-color !default;
$code-background: $background-color !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    850px !default;

$on-palm:          600px !default;
$on-laptop:        850px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
