---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <a class="post-back" href="{{ '/posts/' | relative_url }}"><i class="fas fa-arrow-left" aria-hidden="true"></i>All posts</a>
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- assign published_date = page.date | date: date_format %}
    <p class="post-meta entry-meta">
      <span><i class="far fa-calendar" aria-hidden="true"></i><time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ published_date }}</time></span>
      {%- if page.update_date -%}
        {%- assign last_updated = page.update_date | date: date_format -%}
        {%- if published_date != last_updated %}
      <span><i class="fas fa-history" aria-hidden="true"></i>Updated {{ last_updated }}</span>
        {%- endif -%}
      {%- endif -%}
      {%- if page.author %}
      <span><i class="fas fa-user" aria-hidden="true"></i><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span></span>
      {%- endif %}
    </p>
    {%- if page.tags.size > 0 %}
    {%- comment -%} same normalised form as the Posts page filter {%- endcomment -%}
    <p class="post-tags">
      {%- for tag in page.tags -%}
        {%- assign key = tag | downcase | replace: "-", " " | strip %}
      <a class="post-tag" href="{{ '/posts/' | relative_url }}?tag={{ key | url_encode }}">{{ key }}</a>
      {%- endfor %}
    </p>
    {%- endif %}
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  {%- if page.previous.url or page.next.url %}
  <nav class="post-nav" aria-label="More posts">
    {%- if page.previous.url %}
    <a class="post-nav-link post-nav-prev" href="{{ page.previous.url | relative_url }}">
      <span class="post-nav-label"><i class="fas fa-arrow-left" aria-hidden="true"></i>Previous</span>
      <span class="post-nav-title" lang="{{ page.previous.lang | default: 'en' }}">{{ page.previous.title }}</span>
    </a>
    {%- endif %}
    {%- if page.next.url %}
    <a class="post-nav-link post-nav-next" href="{{ page.next.url | relative_url }}">
      <span class="post-nav-label">Next<i class="fas fa-arrow-right" aria-hidden="true"></i></span>
      <span class="post-nav-title" lang="{{ page.next.lang | default: 'en' }}">{{ page.next.title }}</span>
    </a>
    {%- endif %}
  </nav>
  {%- endif %}


  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  
  <script src="https://utteranc.es/client.js"
        repo="md-arif-shaikh/md-arif-shaikh.github.io"
        issue-term="pathname"
        theme="github-dark"
        crossorigin="anonymous"
        async>
  </script>
</article>
